<form>
    <label for="titulo"> Tarefa: </label>
    <input type="text" value="">

    <label for="data"> Data limite: </label>
    <input type="date" value="">

    <label for="descricao">Descrição: </label>
    <input type="text" value="">

    <input type="checkbox" name="prioridade" id="prioridade" value="">
    <label for="prioridade"> Prioridade? </label>

    <input type="button" value="editar tarefa">
</form>

<input type="button" value="ADICIONAR NOVA TAREFA" routerLink="/adicionar">
<input type="button" value="EXIBIR TAREFAS" routerLink="/exibir">
