<div class="container">

    <form class="row g-3 custom-box">
        <div class="custom-h1">
                <h1>MyTasks</h1>
            </div>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="✎ Tarefa" [(ngModel)]="novaTarefa.titulo" name="titulo">   
            <label for="titulo">✎ Tarefa</label>
        </div> 

        <div class="col-md-6">
            <label for="data" class="form-label">📅 Data limite</label>
            <input type="date" class="form-control" [(ngModel)]="novaTarefa.data" name="data">
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="📝 Descrição" [(ngModel)]="novaTarefa.descricao" name="descricao">
            <label for="descricao" class="form-label">📝 Descrição</label>
        </div>

        <div class="col-auto">
            <div class="form-check">    
                <input class="form-check-input" type="checkbox" name="prioridade" id="prioridade" [(ngModel)]="novaTarefa.prioridade" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="prioridade">Prioridade</label>
            </div>
        </div>

        <div class="col-12">
            <input type="button" value="Adicionar tarefa" class="btn btn-outline-primary" 
            style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .80rem;" (click)="adicionarTarefa()">
        </div>

        <div class="col-auto">
        <input class="btn btn-primary custom-button" type="button" value="Exibir tarefas" routerLink="/exibir">
    </div>
    </form>
</div>
